.project-detail {
  max-width: 700px;
  /* 方形設計就700，橫式設計900 */
  margin: 60px auto;
  padding: 0 20px;
}

.project-detail img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* 調整 h2 為頁面主要標題 h1，請根據需求選擇 */
.project-detail h2 {
  /* 將 h2 樣式套用給 h1 */
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #d5936b;
}


.project-meta {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.project-description {
  line-height: 1.8;
  font-size: 1.05rem;
}


  /* ------------響應式呈現  ------------*/

@media (max-width: 768px) {

  .project-detail {
    margin: 30px auto;
    padding: 0 15px;
  }

  .project-detail h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
  }

  .project-meta {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }

  .project-description {
    font-size: 1rem;
    line-height: 1.6;
  }
}


@media (max-width: 480px) {

  .project-detail h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    color: #d5936b;
  }

}